{% extends 'base.html' %}

{% block head %}
    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="/static_media/css/3-column-layout.css" />
    <style type="text/css">
        #mask {
          position:absolute;
          left:0;
          top:0;
          z-index:9000;
          background-color:#000;
          display:none;
        }

        #boxes .window {
          position:absolute;
          left:0;
          top:0;
          width:440px;
          height:200px;
          display:none;
          z-index:9999;
          padding:20px;
        }

        #boxes #dialog {
          width:375px;
          height:203px;
          padding:10px;
          background-color:#ffffff;
        }
    </style>

    <script type="text/javascript">

    var presets = {{ presets|safe }};
    var battle;
    var uuid = "{{ request.uuid }}";
    var selectedSounds = [0,0]
    var selectedPreset;

    $(document).ready(function(){
        $('#result').hide();
        apiKey = settings.apiKey;
        if(apiKey == "") {
            alert("no KEY!");
        } else {
            freesound = new Freesound(apiKey, true);
        }
    });

    function addSoundHandlers(elem, soundId, player, soundClickFunc) {
        elem.find('.sound_description').click(soundClickFunc);
    };

    function getSoundClickFunc(player, soundId) {
        return function() {
            selectedSounds[player-1] = soundId;
            $('.sound_description').removeClass('selected'+player);
            var data = {'command': 'updateSelection',
                        'removeSelector': '.sound_description',
                        'sender': uuid,
                        'selector': $(this).getPath(),
                        'classToAdd': 'selected'+player};
            fswars.browser2browser({{battle.id}}, data);
            $(this).addClass('selected'+player);
            isReadyToFight();
        };
    }

    function getDisplaySoundInfoClosure(player, soundClickFunc) {
        return function(elem, soundId) {
            addSoundHandlers(elem, soundId, player, soundClickFunc);
        }
    }

    function fsCallback(player, displayFuncClosure, playerSoundsSelector) {
        return function(data) {
            fswars.displaySoundInfo(data, false, false, displayFuncClosure, playerSoundsSelector);
        };
    }

    function populatePlayerSounds(sounds, player) {
        for (var i=0; i<sounds.length; i++) {
            f0 = getSoundClickFunc(player, sounds[i]);
            f1 = getDisplaySoundInfoClosure(player, f0);
            f2 = fsCallback(player, f1, '#player'+player+'_sounds');
            freesound.getSound(sounds[i], f2);
        }
    }

    function populate(battle) {
        populatePlayerSounds(battle.player1_sounds, 1);
        populatePlayerSounds(battle.player2_sounds, 2);

        for (i in presets) {
            $("#presets").append('<div id="' + presets[i] + '"><img src="{{ STATIC_URL }}images/' + presets[i].toLowerCase() + '_btn.png" /></div><br>');
            $("#"+ presets[i]).bind("click", {preset: presets[i]}, function(event) {
                    selectedPreset = event.data.preset;
                    $('#presets div').removeClass('selectedPreset');
                    var data = {'command': 'updateSelection',
                        'removeSelector': '.selectedPreset',
                        'sender': uuid,
                        'selector': '#'+selectedPreset,
                        'classToAdd': 'selectedPreset'};
                    fswars.browser2browser({{battle.id}}, data);
                    $('#'+selectedPreset).addClass('selectedPreset');
                    isReadyToFight();
            });
        }

        // TODO: filter out sounds already in the rounds.
        // This would prevent weird behaviour on page refresh.
    }

    function fight() {
        if (isReadyToFightTest()) {
            $("#fight").hide(200);
            var waitText = 'Calculating battle score..';
            fswars.activate_waiting_screen(waitText);
            var data = {'command': 'activateWaitingScreen',
                        'waitText': waitText,
                        'sender': uuid};
            fswars.browser2browser({{battle.id}}, data);
            var url = "/battle/"+ battle['id'] +"/fight/" +
                      selectedSounds[0] + '/' + selectedSounds[1] +
                      '/' + selectedPreset + '/';
            $.get(url, function (data) {
                    console.log('requesting battle result');
            });
            cleanControls();
            selectedSounds[0] = selectedSounds[1] = 0;
            selectedPreset = null;

        }
    }

    function cleanControls() {
        $('.selectedPreset').hide(500);
        $('.selected1').parent().hide(500);
        $('.selected2').parent().hide(500);
    }

    function isReadyToFightTest() {
        $('#result').hide(300);
        return selectedPreset &&
               selectedSounds[0] != 0 &&
               selectedSounds[1] != 0
    }

    function isReadyToFight() {
        if (isReadyToFightTest()) {
             $('#fight').show(200);
        }
    }

    function switchWaitingScreens(battle) {
        if (battle.finished) {
            fswars.deactivate_waiting_screen();
            return
        }
        var playerNumber = battle.player2_uuid == '{{request.uuid}}' ? 2 : 1;
        if (playerNumber != battle.turn_owner) {
            var turnOwner = playerNumber == 1 ? battle.player2 : battle.player1;
            fswars.activate_waiting_screen(turnOwner + "'s turn...");
        } else {
            fswars.deactivate_waiting_screen();
        }
    }
    </script>
{% endblock %}


{% block comet_handler %}

function page_comet_handler(update) {
    if('command' in update) {
        if (update.command == 'updateBattleStatus') {
            switchWaitingScreens(update.battle);
            if(update.battle.finished) {
                $('#maincontainer').html('<div id="#continue_link"><center>' +
                    'Continue to <a href="{% url wars:result battle.id %}">' +
                    'results</a></center></div>');
                return
            }
            if (battle == null) {
                battle = update.battle;
                console.debug(battle);
                populate(battle);
            } else {
                battle = update.battle;
                lastRound = battle.rounds.last()
                cleanControls();
                $('#winner').text(lastRound.winner == 1 ? battle.player1 : battle.player2);
                $('#points').text(lastRound.winner == 1 ? lastRound.player1_points : lastRound.player2_points);
                $('#result').show(500);
            }
        } else if (update.command == 'updateSelection' &&
                   update.sender != uuid) {
            $(update.removeSelector).removeClass(update.classToAdd);
            $(update.selector).addClass(update.classToAdd);
        } else if (update.command == 'activateWaitingScreen' &&
                   update.sender != uuid) {
            fswars.activate_waiting_screen(update.waitText);
        }
    }
};

{% endblock %}


{% block content %}

<br><br><br>

<center>
    <h1>
        <div id="result">
            <span id="winner"></span> won the last round with
            <span id="points"></span> points.
        </div>
    </h1>
</center>

<br>

<div id="fight" style="display: none;">
    <center><h1><a href="#" onclick="fight()"><img src="{{ STATIC_URL}}images/fight.png" /></a></h1></center>
</div>

<br>

<div id="maincontainer">

    <div id="leftcolumn" class="battlecolumn">
        <h2>P1: {% if my_nickname == battle.player1 %}You!{% else %}{{ battle.player1 }}{% endif %}</h2>
        <div id="player1_sounds"></div>
    </div>

    <div id="contentcolumn" class="battlecolumn">
        <center><h2>Battle with..</h2></center>
        <div id="presets"></div>
    </div>

    <div id="rightcolumn" class="battlecolumn">
        <h2>P2: {% if my_nickname == battle.player2 %}You!{% else %}{{ battle.player2 }}{% endif %}</h2>
        <div id="player2_sounds"></div>
    </div>

    <br style="clear: both;" />
</div>


{% endblock %}
