{% extends 'base.html' %}

{% block head %}
    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="/static_media/css/3-column-layout.css" />
    <style type="text/css">
        #mask {
          position:absolute;
          left:0;
          top:0;
          z-index:9000;
          background-color:#000;
          display:none;
        }

        #boxes .window {
          position:absolute;
          left:0;
          top:0;
          width:440px;
          height:200px;
          display:none;
          z-index:9999;
          padding:20px;
        }

        #boxes #dialog {
          width:375px;
          height:203px;
          padding:10px;
          background-color:#ffffff;
        }
    </style>

    <script type="text/javascript">

    var presets = {{ presets|safe }};
    var battle;
    var myPlayer = "{{ my_nickname }}";
    var selectedSounds = [0,0]
    var selectedPreset;

    $(document).ready(function(){
        apiKey = settings.apiKey;
        if(apiKey == "") {
            alert("no KEY!");
        } else {
            freesound = new Freesound(apiKey, true);
        }
    });

    function addSoundHandlers(elem, soundId, player, soundClickFunc) {
        elem.find('.sound_description').click(soundClickFunc);
    };

    function getSoundClickFunc(player, soundId) {
        return function() {
            selectedSounds[player-1] = soundId;
            $('.sound_description').removeClass('selected'+player);
            $(this).addClass('selected'+player);
            isReadyToFight();
        };
    }

    function getDisplaySoundInfoClosure(player, soundClickFunc) {
        return function(elem, soundId) {
            addSoundHandlers(elem, soundId, player, soundClickFunc);
        }
    }

    function fsCallback(player, displayFuncClosure, playerSoundsSelector) {
        return function(data) {
            fswars.displaySoundInfo(data, false, false, displayFuncClosure, playerSoundsSelector);
        };
    }

    function populatePlayerSounds(sounds, player) {
        for (var i=0; i<sounds.length; i++) {
            f0 = getSoundClickFunc(player, sounds[i]);
            f1 = getDisplaySoundInfoClosure(player, f0);
            f2 = fsCallback(player, f1, '#player'+player+'_sounds');
            freesound.getSound(sounds[i], f2);
        }
    }

    function populate(battle) {
        populatePlayerSounds(battle.player1_sounds, 1);
        populatePlayerSounds(battle.player2_sounds, 2);

        for (i in presets) {
            $("#presets").append('<div id="' + presets[i] + '"><img src="{{ STATIC_URL }}images/' + presets[i].toLowerCase() + '_btn.png" /></div><br><br><br>');
            $("#"+ presets[i]).bind("click", {preset: presets[i]}, function(event) {
                    selectedPreset = event.data.preset;
                    $('#presets div').removeClass('selectedPreset');
                    $('#'+selectedPreset).addClass('selectedPreset');
                    isReadyToFight();
            });
        }

        // TODO: filter out sounds already in the rounds.
        // This would prevent weird behaviour on page refresh.
    }

    function fight() {
        if (isReadyToFightTest()) {
            $("#fight").hide(200);
            console.debug(battle);
            var url = "/battle/"+ battle['id'] +"/fight/" +
                      selectedSounds[0] + '/' + selectedSounds[1] +
                      '/' + selectedPreset + '/';
            $.get(url, function (data) {
                    console.log('requesting battle result');
            });
            // clean controls
            $('.selectedPreset').hide(500);
            $('.selected1').parent().hide(500);
            $('.selected2').parent().hide(500);
            selectedSounds[0] = selectedSounds[1] = 0;
            selectedPreset = null;
        }
    }

    function isReadyToFightTest() {
        return selectedPreset &&
               selectedSounds[0] != 0 &&
               selectedSounds[1] != 0
    }

    function isReadyToFight() {
        if (isReadyToFightTest()) {
             $('#fight').show(200);
        }
    }

    /*
    function battleStatus() {
        var sURL = "/battle/" + battleObj['id'] +"/status/";
        var parsed;
        var turnPlayerNick
        var player_num = (myPlayer == battleObj['player1']) ? 1 : 2;
        $.get(sURL, function(data) {
                parsed = jQuery.parseJSON(data);
                if (parsed['turn_owner'] == player_num) {
                    removeScreen();
                } else {
                    coverScreen();
                }
                updateAfterBattle(parsed);
            });
    }*/

    function updateAfterBattle(battle_result) {
        var last_round = battle_result['history'][battle_result['history'].length-1];
        if ($("#result").html() != "") {
            $("#result").html(findWinnerAndPoints(last_round));
        }
        // remove div with played sounds
        $("#"+ last_round[0]+"_1").remove();
        $("#"+ last_round[1]+"_2").remove();
        $("#"+ last_round[2]).remove();
    }


    function findWinnerAndPoints(last_round) {
        var sResult = "And the winner is... ";
        if (last_round[3] == 1) {
            sResult += battleObj['player1'];
        } else {
            sResult += battleObj['player2'];
        }
        sResult += " with " + last_round[4] + " points!!!";
        return sResult;
    }

    function coverScreen() {
        //Get the A tag
        var id = "cover";

        //Get the screen height and width
        var maskHeight = $(document).height();
        var maskWidth = $(window).width();

        //Set heigth and width to mask to fill up the whole screen
        $('#mask').css({'width':maskWidth,'height':maskHeight});

        //transition effect
        $('#mask').fadeIn(1000);
        $('#mask').fadeTo("slow",0.8);

        //Get the window height and width
        var winH = $(window).height();
        var winW = $(window).width();

        //Set the popup window to center
        $(id).css('top',  winH/2-$(id).height()/2);
        $(id).css('left', winW/2-$(id).width()/2);

        //transition effect
        $(id).fadeIn(2000);
        $(id).html("Your opponent is preparing for attack...");
    }

    function removeScreen() {
        $('#mask').hide();
        $('.window').hide();
    }


    </script>
{% endblock %}


{% block comet_handler %}

function page_comet_handler(update) {
    if('command' in update &&
       update.command == 'updateBattleStatus' &&
       battle == null) {
           console.debug('initializing battle');
        battle = update.battle;
        console.debug(battle);
        populate(battle);
    }
};

{% endblock %}


{% block content %}
<p><h2>Warrior: {{my_nickname}}</h2></p>
<center><h1><div id="result"></div></h1></center>
<div id="status"></div>
<br />
<div id="fight" style="display: none;">
    <center><h1><a href="#" onclick="fight()"><img src="{{ STATIC_URL}}images/fight.png" /></a></h1></center>
</div>
<br />
<div id="maincontainer">

    <div id="leftcolumn" class="battlecolumn">
        <h2>P1: {% if my_nickname == battle.player1 %}You!{% else %}{{ battle.player1 }}{% endif %}</h2>
        <div id="player1_sounds"></div>
    </div>

    <div id="contentcolumn" class="battlecolumn">
        <center><h2>Battle with..</h2></center>
        <div id="presets"></div>
    </div>

    <div id="rightcolumn" class="battlecolumn">
        <h2>P2: {% if my_nickname == battle.player2 %}You!{% else %}{{ battle.player2 }}{% endif %}</h2>
        <div id="player2_sounds"></div>
    </div>

    <br style="clear: both;" />
</div>

<div id="boxes">
    <div id="dialog" class="window">
        Simple Modal Window |
        <a href="#"class="close"/>Close it</a>
        <p>Anything can go Here</p>
    </div>
<!-- Mask to cover the whole screen -->
  <div id="mask"></div>
</div>


{% endblock %}
