{% extends "base.html" %}

{% block head %}
{{ block.super }}

<script type="text/javascript">

var sounds = [];
var num_sounds = 0;
var max_sounds = {{battle.num_rounds}};
var snd;
var freesound;

Array.prototype.remove = function(from, to) {
  var rest = this.slice((to || from) + 1 || this.length);
  this.length = from < 0 ? this.length + from : from;
  return this.push.apply(this, rest);
};

function showAddButton(elem) {
    elem.find('.sound_add').show();
    elem.find('.sound_remove').hide();
};

function showRemoveButton(elem) {
    elem.find('.sound_remove').show();
    elem.find('.sound_add').hide();
};

function addSoundHandlers(elem, soundId) {
    elem.find('.sound_add').click(function() {
        if (sounds.length < max_sounds &&
            $.inArray(soundId, sounds) == -1) {
            sounds.push(soundId);
            if (num_sounds >= max_sounds) {
                $("#send_form").show();
            }
            sound = $(this).parent();
            sound.hide(500);
            setTimeout(function() {
                $('#picked_sounds').append(sound);
                showRemoveButton(sound);
                sound.show(500);
            }, 500);
        }
    });
    elem.find('.sound_remove').click(function() {
        var index = $.inArray(soundId, sounds);
        if (index != -1) {
            sounds.remove(index);
        }
        sound = $(this).parent();
        sound.hide(500);
        setTimeout(function() {
            $('#search-results').append(sound);
            showAddButton(sound);
            sound.show(500);
        }, 500);
    });
    showAddButton(elem);
};

function errorSearch() {}
function errorSound() {}

$(document).ready(
    function() {

        // send the sound_ids form ajax-style and cancel the normal sending by returning false
        $('#send_form').submit(function() {
            $.post('{% url wars:pick-sounds-helper battle.id %}', $('#send_form').serialize());
            return false;
        });

        $("#send_form").hide();

        apiKey = settings.apiKey;

        if(!apiKey || apiKey == "") {
            alert("No 'apiKey' no honey!");
        } else {
            freesound = new Freesound(apiKey, true);
        }
    }
);


function search_sounds() {
    if ($("#search-q").length > 0) {
        console.log("query: " + $("#search-q").val());
        var q = $("#search-q").val();
        var p = 1;
        var f = "duration:[0.1 TO 10.0]";
        var s = "downloads_desc";
        freesound.getSoundsFromQuery(q,p,f,s,displaySearchResults, errorSearch);
    }
}

function displaySearchResults(soundCollection) {

    $("#search-results").text("")

    for (obj in soundCollection.properties['sounds']) {
        freesound.getSound(soundCollection.properties['sounds'][obj]['id'],
                           function(obj) {displaySoundInfo(obj, true, true)},
                           errorSound );
    }
}

function displaySoundInfo(sound, addButton, removeButton) {
    var tags = sound.properties['tags'].slice(0,15).join('</span> <span class="tags">');

    var soundHTML = '';

    soundHTML += '<div class="sound sound_'+sound.properties['id']+'">';
    if (removeButton) {
        soundHTML += 	'<div class="sound_remove"><img src="{{STATIC_URL}}images/tab_left.png" /></div>';
    }

    soundHTML +=	'<div class="player small">';
    soundHTML +=	   	'<div class="metadata">'
    soundHTML += 			 sound.properties['preview-hq-mp3'] + ' ';
    soundHTML +=			 sound.properties['waveform_m'] + ' ';
    soundHTML +=			 sound.properties['spectral_m'] + ' ';
    soundHTML +=			 sound.properties['duration'];
    soundHTML +=		'</div>';
    soundHTML +=	'</div>';
    soundHTML += 	'<div class="sound_description">';
    soundHTML +=    	'<span class="sound_title">' + sound.properties.original_filename + '</span><br>';
    soundHTML +=    	'<span class="tags">' + tags + '</span>';
    soundHTML +=    '</div>';
    if (addButton) {
        soundHTML += 	'<div class="sound_add"><img src="{{STATIC_URL}}images/tab_right.png" /></div>';
    }
    soundHTML +=    '<br style="clear: both;">';
    soundHTML += '</div>';

    $("#search-results").append(soundHTML);

    var selector = '.sound_'+sound.properties['id'];
    addSoundHandlers($(selector), sound.properties['id']);
    makePlayer(selector+' .player');
}

</script>
{% endblock head %}


{% block comet_handler %}

function page_comet_handler(update) {
    if('command' in update && update.command == 'updateBattleStatus') {
        if (update.battle.player1_sounds.length >= {{ battle.num_rounds }} &&
            update.battle.player2_sounds.length >= {{ battle.num_rounds }}) {
            window.location = '{% url wars:battle battle.id %}';
        } else if (update.battle.player1_sounds.length >= {{ battle.num_rounds }}) {
            fswars.add_notification(update.battle.player1 + ' finished picking his team.');
        } else if (update.battle.player2_sounds.length >= {{ battle.num_rounds }}) {
            fswars.add_notification(update.battle.player2 + ' finished picking his team.');
        }
    }
};

{% endblock %}

{% block title %}Pick your sounds...{% endblock title %}

{% block content %}

<h2 id="title" class="section_title"></h2>

<div id="fake-div">
</div>

<div id="search-div">
    <p>
        <input type="text" name="q" id="search-q" size="45" />
<!--         <input type="submit" name="submit" value="search sounds" onclick="search_sounds" id="search-button"/> -->
        <button onclick="search_sounds()">Search!</button>
    </p>
</div>

<div id="search-results-wrapper">
    <div id="search-results" class="sound_list_minimal">
        <div class="sound sound_62260"><div class="sound_remove">rem</div><div class="player small"><div class="metadata">http://tabasco.upf.edu/data/previews/62/62260_634166-hq.mp3 http://tabasco.upf.edu/data/displays/62/62260_634166_wave_M.png http://tabasco.upf.edu/data/displays/62/62260_634166_spec_M.jpg 4.8587755102</div></div><div class="sound_description"><span class="sound_title">whoosh.wav</span><br><span class="tags">transition</span> <span class="tags">wing</span> <span class="tags">windmill</span> <span class="tags">windturbine</span> <span class="tags">air</span> <span class="tags">swoosh</span> <span class="tags">whoosh</span> <span class="tags">wings</span> <span class="tags">synth</span> <span class="tags">bird</span></div><div class="sound_add">add</div><br style="clear: both;"></div>
    </div>
</div>

<div id="picked_sounds_menu">
    <h2 class="section_title">War files</h2>
    <p>You need to choose 5 sounds for your battle.</p>
    <div id="picked_sounds"></div>
</div>

<div>
    <form id="send_form" action="{% url wars:pick-sounds-helper battle.id %}">
        {{ form.as_p }}
        <input id="send_form_submit"
               type="submit"
               value="My team of sounds is ready">
     </form>
</div>
</div>

<div id="jplayer"></div>

{% endblock content %}
