{% extends "base.html" %}

{% block head %}
{{ block.super }}

<script type="text/javascript">

var sounds = [];
var num_sounds = 0;
var max_sounds = {{battle.num_rounds}};
var snd;
var freesound;

Array.prototype.remove = function(from, to) {
  var rest = this.slice((to || from) + 1 || this.length);
  this.length = from < 0 ? this.length + from : from;
  return this.push.apply(this, rest);
};

function showAddButton(elem) {
    elem.find('.sound_add').show();
    elem.find('.sound_remove').hide();
};

function showRemoveButton(elem) {
    elem.find('.sound_remove').show();
    elem.find('.sound_add').hide();
};

function addSoundHandlers(elem, soundId) {
    elem.find('.sound_add').click(function() {
        if (sounds.length < max_sounds &&
            $.inArray(soundId, sounds) == -1) {
            sounds.push(soundId);
            if (sounds.length >= max_sounds) {
                $("#send_form").show();
            }
            sound = $(this).parent();
            sound.hide(500);
            setTimeout(function() {
                $('#picked_sounds').append(sound);
                showRemoveButton(sound);
                sound.show(500);
            }, 500);
        }
    });
    elem.find('.sound_remove').click(function() {
        var index = $.inArray(soundId, sounds);
        if (index != -1) {
            sounds.remove(index);
        }
        if (sounds.length < max_sounds) {
            $("#send_form").hide();
        }
        sound = $(this).parent();
        sound.hide(500);
        setTimeout(function() {
            $('#search-results').append(sound);
            showAddButton(sound);
            sound.show(500);
        }, 500);

    });
    showAddButton(elem);
};

function errorSearch() {
    fswars.deactivate_waiting_screen();
}
function errorSound() {}

$(document).ready(
    function() {

        // send the sound_ids form ajax-style and cancel the normal sending by returning false
        $('#send_form').submit(function() {
            $.post('{% url wars:pick-sounds-helper battle.id %}', {'sound_ids': JSON.stringify(sounds)});
            fswars.activate_waiting_screen('Waiting on other player...');
            return false;
        });

        $("#send_form").hide();

        apiKey = settings.apiKey;

        if(!apiKey || apiKey == "") {
            alert("No 'apiKey' no honey!");
        } else {
            freesound = new Freesound(apiKey, true);
        }
    }
);


function search_sounds() {
    if ($("#search-q").length > 0) {
        console.log("query: " + $("#search-q").val());
        var q = $("#search-q").val();
        var p = 1;
        var f = "duration:[0.1 TO 10.0]";
        var s = "downloads_desc";
        fswars.activate_waiting_screen('Searching...');
        freesound.getSoundsFromQuery(q,p,f,s,displaySearchResults, errorSearch);
    }
}

function displaySearchResults(soundCollection) {
    fswars.deactivate_waiting_screen();

    $("#search-results").text("")

    for (obj in soundCollection.properties['sounds']) {
        /*freesound.getSound(soundCollection.properties['sounds'][obj]['id'],
                           function(obj) {fswars.displaySoundInfo(obj, true, true,
                                                           addSoundHandlers,
                                                           "#search-results")},
                           errorSound );*/
        var sound = {properties: soundCollection.properties['sounds'][obj]}
        fswars.displaySoundInfo(sound, true, true, addSoundHandlers, "#search-results");
    }
}

</script>
{% endblock head %}


{% block comet_handler %}

function page_comet_handler(update) {
    if('command' in update && update.command == 'updateBattleStatus') {
        if (update.battle.player1_sounds.length >= {{ battle.num_rounds }} &&
            update.battle.player2_sounds.length >= {{ battle.num_rounds }}) {
            window.location = '{% url wars:battle battle.id %}';
        } else if (update.battle.player1_sounds.length >= {{ battle.num_rounds }}) {
            fswars.add_notification(update.battle.player1 + ' finished picking his team.');
        } else if (update.battle.player2_sounds.length >= {{ battle.num_rounds }}) {
            fswars.add_notification(update.battle.player2 + ' finished picking his team.');
        }
    }
};

{% endblock %}

{% block title %}Pick your sounds...{% endblock title %}

{% block content %}

<h2 id="title" class="section_title"></h2>

<div id="search-div">
    <p>
        <input type="text" name="q" id="search-q" size="45" />
        <button onclick="search_sounds()">Search!</button>
    </p>
</div>

<div id="search-results-wrapper">
    <div id="search-results" class="sound_list_minimal"></div>
</div>

<div id="picked_sounds_menu">
    <h2 class="section_title">War files</h2>
    <p>You need to choose 5 sounds for your battle.</p>
    <div id="picked_sounds"></div>
    <form id="send_form" action="{% url wars:pick-sounds-helper battle.id %}">
        {% comment %}{{ form.as_p }}{% endcomment %}
        <input id="send_form_submit"
               type="submit"
               value="My team of sounds is ready">
     </form>
</div>

<div>

</div>

{% endblock content %}
