{% extends "base.html" %}
{% load absurl %}

{% block header %}
{% endblock header %}

{% block comet_handler %}

function page_comet_handler(update) {
    console.debug(update);
    if('command' in update &&
       update.command == 'updateBattleStatus' &&
       update.battle[0].fields.player1_uuid &&
       update.battle[0].fields.player2_uuid) {
        window.location = '{% url wars:pick-sounds battle.id %}';
    }
};

{% endblock %}


{% block content %}

    {% if player_is_creator %}

        <center>
            <div class="waiting">
                Invite someone to play!
            </div>

        <p>You will now have to invite someone to play against.

        <h3>Invite by email or chat</h3>

        <p>{% absurl wars:wait-on-player battle.id %} -

            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                    width="110"
                    height="14"
                    id="clippy" >
                <param name="movie" value="{{ STATIC_URL }}swf/clippy.swf"/>
                <param name="allowScriptAccess" value="always" />
                <param name="quality" value="high" />
                <param name="scale" value="noscale" />
                <param NAME="FlashVars" value="text={% absurl wars:wait-on-player battle.id %}">
                <param name="bgcolor" value="#ededed">
                <embed src="{{ STATIC_URL }}swf/clippy.swf"
                       width="110"
                       height="14"
                       name="clippy"
                       quality="high"
                       allowScriptAccess="always"
                       type="application/x-shockwave-flash"
                       pluginspage="http://www.macromedia.com/go/getflashplayer"
                       FlashVars="text={% absurl wars:wait-on-player battle.id %}"
                       bgcolor="#ededed" />
            </object>

        <h3>Invite through Facebook</h3>

    {% else %}

        <h1>You were invited to play Freesound Wars</h1>

        <p>Pick a name and start playing.

        <div class="waiting">
            <form id="second_player_name_form" action="." method="POST">{% csrf_token %}
                {{ form.as_p }} <br>
                <input type="submit" value="Play!">
            </form>
        </div>

    {% endif %}

    </center>

    <p>TODO: check for the case where the game already has 2 players.

{% include "wars/backdrops.html" %}

{% endblock content %}
