{% extends "base.html" %}

{% block comet_handler %}

function page_comet_handler(update) {
    console.debug(update);
    if('command' in update &&
       update['command'] == 'updateBattleStatus' &&
       update.battle[0].fields.player1_sounds &&
       update.battle[0].fields.player2_sounds ) {
        console.debug('one of the players updated their sounds');
        $('#comet_incoming').html('The other player has finished picking his sounds.');
    } else {
        console.debug('test fail');
    }
};

{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<center>
    <div class="waiting">
    Waiting on second player...
    </div>
</center>

{% include "wars/backdrop.html" %}
{% endblock content %}
