{% extends 'base.html' %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static_media/css/3-column-layout.css" />
    <style type="text/css">
        #mask {
          position:absolute;
          left:0;
          top:0;
          z-index:9000;
          background-color:#000;
          display:none;
        }

        #boxes .window {
          position:absolute;
          left:0;
          top:0;
          width:440px;
          height:200px;
          display:none;
          z-index:9999;
          padding:20px;
        }

        #boxes #dialog {
          width:375px;
          height:203px;
          padding:10px;
          background-color:#ffffff;
        }
    </style>

    <script type="text/javascript">
    var presets = {{ presets|safe }};
    var battleObj = {{battle_json|safe}};
    var myPlayer = "{{ my_nickname }}";
    var current_fight = 0;
    // ----------- ON READY
    $(document).ready(function(){
        apiKey = settings.apiKey;
        if(apiKey == "")
        {
            alert("no KEY!");
        }
        else
        {
            /*======= freesound object ========*/
            //creating freesound object
            freesound = new Freesound(apiKey, true);
        }

        populate(battleObj);
        setPoll();
    });

    function populate(battle) {
        // ---------- populate player1
        var temp = battle['player1_sounds'];
        for (i in temp) {
            freesound.getSound(temp[i], function(data) {displaySoundInfo(data, 1);}, errorSound );
            // $("#sound_p1").append("<div id='" + temp[i] + "'>" + temp[i] + "</div>");
        }
        // ---------- populate presets
        for (i in presets) {
            $("#presets").append('<div id="' + presets[i] + '"><img src="{{ STATIC_URL }}images/' + presets[i].toLowerCase() + '_btn.png" /></div><br><br><br>');
            $("#"+ presets[i]).bind("click", {preset: presets[i]}, function(event) {
                    $("#battle_preset").empty();
                    $("#battle_preset").append(event.data.preset);
                    $("#battle_preset").click(function() { $(this).empty(); });
                    });
                    if (isReadyToFight()) {
                        $("#fight").show();
                    }
        }
        // ---------- populate player2
        temp = battle['player2_sounds'];
        for (i in temp) {
            freesound.getSound(temp[i], function(data) {displaySoundInfo(data, 2);}, errorSound );
            //$("#sound_p2").append("<div id='" + temp[i] + "'>" + temp[i] + "</div>");
        }
    }
    function errorSound() {
    }
    function displaySoundInfo(sound, player) {
        // console.log("displaySoundInfo");
        console.log(sound.properties['id']);
        $("#sound_p"+player).append("<div id=" + sound.properties['id'] + "_"+player+"\>");

        $("#"+sound.properties['id']+"_"+player).append('<div class="battle_sound_name"><h3>' + sound.properties['original_filename'] + '</h3></div>');
        $("#"+sound.properties['id']+"_"+player).append('<div class="battle_sound_img"><img src="'+ sound.properties['waveform_m'] + '" alt = "' + sound.properties['waveform_m'] + '"/></div>');

        $("#"+sound.properties['id']+"_"+player).append('<div class="battle_tags">tags: ' + sound.properties['tags'].join(', ') + '</div>');
        $("#"+sound.properties['id']+"_"+player).append('<br style="clear: both;"/>');

        $("#"+sound.properties['id']+"_"+player).append("</div>");

        // add handler
        $("#" + sound.properties['id']+"_"+player).bind("click", {soundId: sound.properties['id']}, function(event) {
            // TODO: add length check and remove function
            // $("#current_battle").append(event.data.soundId + " ");
            addToBattleCandidate(event.data.soundId, player);
        });
    }
    function addToBattleCandidate(soundId, player) {
        // 2nd sound
        // if ($("#"+ soundId + "_"+player).parent().hasClass("p1")) {
        if (player == 1) {
            $("#player1_sound").empty();
            $("#player1_sound").append(soundId);
            $("#player1_sound").click(function() {
                                                    $(this).empty();
                                                    // $("#fight").hide();
                                                });
        // } else if ($("#"+ soundId).parent().hasClass("p2")) {
        }
        else if (player == 2) {
            $("#player2_sound").empty();
            $("#player2_sound").append(soundId);
            $("#player2_sound").click(function() {
                                                    $(this).empty();
                                                    // $("#fight").hide();
                                                });
        }
        current_fight++;
        // $("#current_battle").append(soundId);
        if (isReadyToFight()) {
            $("#fight").show();
        }
    }
    function fight() {
        if (isReadyToFight())
        {
            $("#fight").hide();
            console.log("all ready for battle");
            var url = "/battle/"+ battleObj['id'] +"/fight/"+ $("#player1_sound").html() +"/"+ $("#player2_sound").html() +"/"+ $("#battle_preset").html();
            $.get(url);
            // clean controls
            $("#player1_sound").empty();
            $("#player2_sound").empty();
            $("#battle_preset").empty();
        }
    }
    function isReadyToFight() {
        if ($("#player1_sound").html() != ""
            && $("#player2_sound").html() != ""
            && $("#battle_preset").html() != "")
        {
            return true;
        }
        return false;
    }
    function setPoll() {
        var sURL = "/battle/" + battleObj['id'] +"/status/";
        $.ajax({
              type: "GET",
              url: sURL,
              dataType: "json",
              success: function(xhr_data) {
                  console.log(xhr_data);
                  if (xhr_data.status == 'pending') {
                    setTimeout(function() { console.log("pending"); }, 3000); // wait 15 seconds than call ajax request again
                  } else {
                    // TODO: I don't get the right data...
                    setInterval(function(xhr_data) {
                        battleStatus();
                        // console.log(xhr_data);
                    }, 2000); // wait 15 seconds than call ajax request again
                    }
                }
            });
    }
    function battleStatus() {
        var sURL = "/battle/" + battleObj['id'] +"/status/";
        var parsed;
        var turnPlayerNick
        var player_num = (myPlayer == battleObj['player1']) ? 1 : 2;
        // console.log(player_num);
        $.get(sURL, function(data) {
                parsed = jQuery.parseJSON(data);
                // console.log(parsed['turn_owner']);
                if (parsed['turn_owner'] == player_num) {
                    removeScreen();
                } else {
                    coverScreen();
                }
                updateAfterBattle(parsed);
            });
    }
    function updateAfterBattle(battle_result) {
        // show turn result
        // $("#result").empty();
        var last_round = battle_result['history'][battle_result['history'].length-1];
        if ($("#result").html() != "") {
            $("#result").html(findWinnerAndPoints(last_round));
        }
        // console.log(battle_result['history'][battle_result['history'].length-1]);
        // remove div with played sounds
        $("#"+ last_round[0]+"_1").remove();
        $("#"+ last_round[1]+"_2").remove();
        $("#"+ last_round[2]).remove();
    }

    function findWinnerAndPoints(last_round) {
        var sResult = "And the winner is... ";
        if (last_round[3] == 1) {
            sResult += battleObj['player1'];
        } else {
            sResult += battleObj['player2'];
        }
        sResult += " with " + last_round[4] + " points!!!";
        return sResult;
    }
    function coverScreen() {
        //Get the A tag
        var id = "cover";

        //Get the screen height and width
        var maskHeight = $(document).height();
        var maskWidth = $(window).width();

        //Set heigth and width to mask to fill up the whole screen
        $('#mask').css({'width':maskWidth,'height':maskHeight});

        //transition effect
        $('#mask').fadeIn(1000);
        $('#mask').fadeTo("slow",0.8);

        //Get the window height and width
        var winH = $(window).height();
        var winW = $(window).width();

        //Set the popup window to center
        $(id).css('top',  winH/2-$(id).height()/2);
        $(id).css('left', winW/2-$(id).width()/2);

        //transition effect
        $(id).fadeIn(2000);
        $(id).html("Your opponent is preparing for attack...");
    }
    function removeScreen() {
        $('#mask').hide();
        $('.window').hide();
    }


    </script>
{% endblock %}

{% block content %}
<p><h2>Warrior: {{my_nickname}}</h2></p>
<center><h1><div id="result"></div></h1></center>
<div id="status"></div>
<br />
<div id="fight" style="display: none;">
    <center><h1><a href="#" onclick="fight()"><img src="{{ STATIC_URL}}images/fight.png" /></a></h1></center>
</div>
<br />
<div id="maincontainer">
    <div id="leftcolumn" class="battlecolumn">
        <div id="player1_sound"></div>
        <label for="sound_p1"><h2>P1: {% if my_nickname == battle.player1 %}You!{% else %}{{ battle.player1 }}{% endif %}</h2></label>
        <div id="sound_p1" class="p1"></div>
    </div>
    <div id="contentcolumn" class="battlecolumn">
        <div id="battle_preset"></div>
        <label for="content"><center><h2>Battle with..</h2></center></label>
        <div id="presets"></div>
    </div>
    <div id="rightcolumn" class="battlecolumn">
        <div id="player2_sound"></div>
        <label for="sound_p2"><h2>P2: {% if my_nickname == battle.player2 %}You!{% else %}{{ battle.player2 }}{% endif %}</h2></label>
        <div id="sound_p2" class="p2"></div>
    </div>
    <br style="clear: both;" />
</div>

<div id="boxes">
<div id="dialog" class="window">
Simple Modal Window |
<a href="#"class="close"/>Close it</a>
<p>Anything can go Here</p>
</div>
<!-- Mask to cover the whole screen -->
  <div id="mask"></div>
</div>


{% endblock %}
