{% extends 'base.html' %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static_media/css/3-column-layout.css" />
    <script type="text/javascript">
    var presets = {{ presets|safe }};
    var battleObj = {{battle_json|safe}};
    var myPlayer = "{{ my_nickname }}";
    var current_fight = 0;
    // ----------- ON READY
    $(document).ready(function(){
        apiKey = settings.apiKey;
        if(apiKey == "")
        {
            alert("no KEY!");
        }
        else
        {
            /*======= freesound object ========*/
            //creating freesound object
            freesound = new Freesound(apiKey, true);
        }

        populate(battleObj);
        setPoll();
    });

	function populate(battle) {
		// ---------- populate player1
		var temp = battle['player1_sounds'];
		for (i in temp) {
			freesound.getSound(temp[i], function(data) {displaySoundInfo(data, 1);}, errorSound );
			// $("#sound_p1").append("<div id='" + temp[i] + "'>" + temp[i] + "</div>");
		}
		// ---------- populate presets
		for (i in presets) {
			$("#presets").append('<div id="' + presets[i] + '"><img src="{{ STATIC_URL }}images/' + presets[i].toLowerCase() + '_btn.png" /></div><br><br><br>');
			$("#"+ presets[i]).bind("click", {preset: presets[i]}, function(event) {
					$("#battle_preset").empty();
					$("#battle_preset").append(event.data.preset);
					$("#battle_preset").click(function() { 
									$(this).empty();
									//$("#fight").hide();
					});
					if (isReadyToFight()) {
						$("#fight").show();
					}
				});
		}
		// ---------- populate player2
		temp = battle['player2_sounds'];
		for (i in temp) {
			freesound.getSound(temp[i], function(data) {displaySoundInfo(data, 2);}, errorSound );
			//$("#sound_p2").append("<div id='" + temp[i] + "'>" + temp[i] + "</div>");
		}
	}
	function errorSound() {
	}
	function displaySoundInfo(sound, player) {
		// console.log("displaySoundInfo");
		console.log(sound.properties['id']);
        $("#sound_p"+player).append("<div id=" + sound.properties['id'] + "\>");

        $("#"+sound.properties['id']).append('<div class="battle_sound_name"><h3>' + sound.properties['original_filename'] + '</h3></div>');
        $("#"+sound.properties['id']).append('<div class="battle_sound_img"><img src="'+ sound.properties['waveform_m'] + '" alt = "' + sound.properties['waveform_m'] + '"/></div>');

        $("#"+sound.properties['id']).append('<div class="battle_tags">tags: ' + sound.properties['tags'].join(', ') + '</div>');
        $("#"+sound.properties['id']).append('<br style="clear: both;"/>');

        $("#"+sound.properties['id']).append("</div>");
       
		// add handler
		$("#" + sound.properties['id']).bind("click", {soundId: sound.properties['id']}, function(event) {
			// TODO: add length check and remove function 
			// $("#current_battle").append(event.data.soundId + " ");
			addToBattleCandidate(event.data.soundId);
		});
	}
	function addToBattleCandidate(soundId) {
		// 2nd sound		
		if ($("#"+ soundId).parent().hasClass("p1")) {
			$("#player1_sound").empty();
			$("#player1_sound").append(soundId);
			$("#player1_sound").click(function() { 
													$(this).empty();
													// $("#fight").hide(); 
												});
		} else if ($("#"+ soundId).parent().hasClass("p2")) {
			$("#player2_sound").empty();
			$("#player2_sound").append(soundId);
			$("#player2_sound").click(function() { 
													$(this).empty(); 
													// $("#fight").hide();
												});
		}
		current_fight++;
		// $("#current_battle").append(soundId);
		if (isReadyToFight()) {
			$("#fight").show();
		}
	}
	function fight() {
		if (isReadyToFight()) 
		{
			$("#fight").hide();
			console.log("all ready for battle");
			var url = "/battle/"+ battleObj['id'] +"/fight/"+ $("#player1_sound").html() +"/"+ $("#player2_sound").html() +"/"+ $("#battle_preset").html();
			$.get(url, function (data) {
					$("#result").append(data);
				});
			// clean controls
			$("#player1_sound").empty();
			$("#player2_sound").empty();
			$("#battle_preset").empty();
		}		
	}
	function isReadyToFight() {
		if ($("#player1_sound").html() != ""
			&& $("#player2_sound").html() != ""
			&& $("#battle_preset").html() != "") 
		{
			return true;
		}
		return false;
	}
	function setPoll() {
		var sURL = "/battle/" + battleObj['id'] +"/status/";
		$.ajax({
			  type: "GET",
			  url: sURL,
			  dataType: "json",
			  success: function(xhr_data) {
				  console.log(xhr_data);
				  if (xhr_data.status == 'pending') {
				    setTimeout(function() { console.log("pending"); }, 3000); // wait 15 seconds than call ajax request again
				  } else {
					// TODO: I don't get the right data...
					setInterval(function(xhr_data) {
						battleStatus(); 
						// console.log(xhr_data); 
					}, 2000); // wait 15 seconds than call ajax request again
			  	  }
				}
			});
	}
	function battleStatus() {
		var sURL = "/battle/" + battleObj['id'] +"/status/";
		var parsed;
		var turnPlayerNick
		var player_num = (myPlayer == battleObj['player1']) ? 1 : 2;
		// console.log(player_num);
		$.get(sURL, function(data) {
				parsed = jQuery.parseJSON(data);
				// console.log(parsed['turn_owner']);
				if (parsed['turn_owner'] == player_num) {
					// console.log('my turn');
				} else {
					// console.log('opponents turn');
				}
				updateAfterBattle(parsed);
			});
	}
	function updateAfterBattle(battle_result) {
		// show turn result
		// $("#result").empty();
		var last_round = battle_result['history'][battle_result['history'].length-1];
		if ($("#result").html() != "") {
			$("#result").html(findWinnerAndPoints(last_round));
		}
		// console.log(battle_result['history'][battle_result['history'].length-1]);
		
		$("#"+ last_round[0]).remove();
		$("#"+ last_round[1]).remove();
		// $("#fight").hide();
		// var history = parsed[''];
	}
	// TODO:
	function findWinnerAndPoints(last_round) {
		var sResult = "And the winner is... ";
		if (last_round[0] == 1) {
			sResult += battleObj['player1'];
		} else {
			sResult += battleObj['player2'];
		}
		sResult += " with " + last_round[4] + " points!!!";
		return sResult;
	}
	function displayControl() {
		
	}
	
	</script>
{% endblock %}

{% block content %}
<p><h2>Warrior: {{my_nickname}}</h2></p>
<div id="result"></div>
<div id="status"></div>
<br />
<div id="fight" style="display: none;">
    <center><h1><a href="#" onclick="fight()">Fight!</a></h1></center>
</div>
<br />
<div id="maincontainer">
	<div id="leftcolumn" class="battlecolumn">
		<div id="player1_sound"></div>
		<label for="sound_p1"><h2>P1: {% if my_nickname == battle.player1 %}You!{% else %}{{ battle.player1 }}{% endif %}</h2></label>
		<div id="sound_p1" class="p1"></div>
	</div>
	<div id="contentcolumn" class="battlecolumn">
		<div id="battle_preset"></div>
		<label for="content"><center><h2>Battle with..</h2></center></label>
		<div id="presets"></div>
	</div>
	<div id="rightcolumn" class="battlecolumn">
		<div id="player2_sound"></div>
		<label for="sound_p2"><h2>P2: {% if my_nickname == battle.player2 %}You!{% else %}{{ battle.player2 }}{% endif %}</h2></label>
		<div id="sound_p2" class="p2"></div>
	</div>
	<br style="clear: both;" />
</div>
<br /><br /><br /><a href="#" onclick="fight()">Fight!</a>

{% endblock %}


