{% extends 'base.html' %}

{% block head %}
	{{ block.super }}
	<style type="text/css">
        /*
        .p1 {
          overflow: auto;
          position: relative;
          float: left;
          width: 250px;
          margin-right: 0px;
        }
        .p2 {
            position: relative;
            float: left;
            width: 250px;
            margin-top: 0px;
        }
        .center {
            overflow: auto;
            position: relative;
            float: left;
            width: 800px;
        }
        */
    </style>
     <link rel="stylesheet" type="text/css" href="/static_media/css/3-column-layout.css" />
    <script type="text/javascript">
    $(document).ready(function(){
    	apiKey = settings.apiKey;
    	if(apiKey == "")
    	{
    		alert("no KEY!"); 
    	}			
    	else 
    	{				
    		/*======= freesound object ========*/
    		//creating freesound object	
    		freesound = new Freesound(apiKey, true);
    	} 
    });
    function fight() {
        // TODO: implement preset
        console.log($("#sound_p1").val());
		var url = "/wars/compute/{{p1_sound}}/{{p2_sound}}/loudness/"; 
		$.get(url, function(data) {
			$("#result").append(data);
		});
    }
	</script>
{% endblock %}

{% block content %}
<div id="result"></div>
<div class="content-container">
	<div class="left">
		<label for="sound_p1">Player 1</label>
		<div id="sound_p1">sound 1</div>
	</div>
	<div id="middle">
		<label for="presets">Presets</label>
		<div id="presets">presets</div>
	</div>
	<div class="right">
		<label for="sound_p2">Player 2</label>
		<div id="sound_p2">sound 2</div>
	</div>
</div>
<br /><br /><br /><a href="#" onclick="fight()">Fight!</a>

{% endblock %}


