{% extends "base.html" %}

{% block header %}
{% endblock header %}

{% block content %}

    <center>
        <img src="{{ STATIC_URL }}images/freesound_wars2.png">
        <img src="{{ STATIC_URL }}images/battleground.png">
        <!-- <p class="explanation">explanation  -->
        <br><br><br>
        <form class="nickname" action="." method="POST">{% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Play!">
        </form>
        <img id="boy1" src="{{ STATIC_URL }}images/boy4.png">
        <img id="boy2" src="{{ STATIC_URL }}images/kid_with_gun.png">

    </center>

{% endblock content %}
