{% extends "base.html" %}

{% block header %}
{% endblock header %}

{% block content %}

    <center>
        <img src="{{ STATIC_URL }}images/freesound_wars.png">
        <h1 class="title">Freesound is your Battleground</h1>
        <p class="explanation">explanation
        <form class="nickname" action="." method="POST">{% csrf_token %}
            {{ form.as_p }}
            
            <input type="submit" value="Play!">
        </form>
        <img id="boy1" src="{{ STATIC_URL }}images/boy3.png">
        <img id="boy2" src="{{ STATIC_URL }}images/kid_with_gun2.png">
        
    </center>

{% endblock content %}
