{% extends "base.html" %}

{% block head %}
{{ block.super }}
<style type="text/css" media="all">
    #picked_sounds
    {
        width: 450px;
        overflow: hidden;
        border: 1px solid black;
        float:right;
        padding: 5px;
    }

    #picked_sounds .add
    {
        display: none;
    }

    #picked_sounds .remove
    {
        display: inline;
    }

    #search-results
    {
        width: 450px;
        overflow: hidden;
        border: 1px solid black;
        float:left;
        padding: 5px;
    }

    #search-results .add
    {
        display: inline;
    }

    #search-results .remove
    {
        display: none;
    }
</style>
<script type="text/javascript">
    var sounds = [];
	var num_sounds = 0;
	var max_sounds = 1;
	// var username = {{ username }};
	var freesound;
	
	$(document).ready(function(){
	
	apiKey = settings.apiKey;	
	console.debug("key: " + apiKey);
	
	if(apiKey == "")
	{
		alert("no KEY no honey!"); 
	}			
	else 
	{				
		/*======= freesound object ========*/
		//creating freesound object	
		freesound = new Freesound(apiKey, true);
	}
	});
	
	function search_sounds() {
		if ($("#search-q").length > 0) {
			console.log("query: " + $("#search-q").val());
			var q = $("#search-q").val();
			var p = 1;
			var f = "";
			var s = "";
			freesound.getSoundsFromQuery(q,p,f,s,displaySearchResults, errorSearch);
			
		}
	}
	function displaySearchResults(soundCollection) {
		$("#search-results").append("<br>* number of results: " + soundCollection.properties['num_results']);
		$("#search-results").append("<br>* number of pages: " + soundCollection.properties['num_pages']);
		$("#search-results").append("<br>* sounds:");
		for (obj in soundCollection.properties['sounds']) {
			//sound_id = soundCollection.properties['sounds'][obj]['id'];
			// $("#search-results").append("<br>--- " + obj + ": " + sound_id + " - " + soundCollection.properties['sounds'][obj]['original_filename']);
			freesound.getSound(soundCollection.properties['sounds'][obj]['id'], displaySoundInfo, errorSound );	
		}
		 
		sc = soundCollection;
		// $("#respSearch").append('<br><br><button onclick="sc.previous(displaySearchResults);">previous</button><button onclick="sc.next(displaySearchResults);">next</button>')
	}
	function displaySoundInfo(sound) {
		// console.log("displaySoundInfo");
		console.log(sound.properties['id']);
		$("#search-results").append("<div id=" + sound.properties['id'] + " onclick='addSound(this," + sound.properties['id'] + ")'\>"); 
		$("#"+sound.properties['id']).append("<br><br>Sound info (some)<br>**********");
		$("#"+sound.properties['id']).append("<br>- filename: " + sound.properties['original_filename']);
		$("#"+sound.properties['id']).append("<br>- duration: " + sound.properties['duration']);
		$("#"+sound.properties['id']).append("<br>- preview-url: " + sound.properties['preview-hq-mp3']);
		$("#"+sound.properties['id']).append("<br>- tags: " + sound.properties['tags']);
		$("#"+sound.properties['id']).append("<br>- description: " + sound.properties['description']);
		$("#"+sound.properties['id']).append('<br>- visualization (waveform):  ' + sound.properties['waveform_m']
							 + '<br><br><img src="'+ sound.properties['waveform_m'] + '" alt = "' + sound.properties['waveform_m'] + '"/>');			
		snd = new Audio(sound.properties['preview-hq-mp3']);
		$("#"+sound.properties['id']).append('<br><button onclick="snd.play()">play</button><button onclick="snd.pause()">pause</button>')
		$("#search-results").append("</div>");
	}
	function errorSearch() {
	}
	function errorSound() {
	}

    function addSound(element, soundId)
    {
        
        if (num_sounds <= max_sounds) 
        {
	        if ($.inArray(soundId, sounds) == -1 && num_sounds <= max_sounds)
	        {
		        
	            console.log("addSound");
	            sounds.push(soundId);
				// TODO: change id and remove onclick handler
	            $(element).closest("#search-results > div").clone().attr("id",soundId+"_choose").attr("onclick", "removeSound(this,"+soundId+")'").appendTo("#picked_sounds");
	
	            $("#id_sources").val(sources.join(","));
	        }
        }
        else {
            alert("Reached your max sounds, don't be greedy warrior!!!");
        }
    }

    function removeSound(element, soundId)
    {
        var index = $.inArray(soundId, sounds);

        if (index != -1)
        {
            sources.splice(index, 1);

            $(element).closest("#picked_sounds > div").remove();

            //$("#id_sources").val(sources.join(","));
        }
    }
    function sendSounds() {
        console.log(sounds);
    	$.post('sounds', {"sound_ids": sounds, "username": "warrior1"});
    }
</script>
{% endblock head %}

{% block title %}Pick your sounds...{% endblock title %}

{% block content %}

<h2>Search sounds</h2>
<p>
</p>

<form id="save-form">
    {{form.as_p}}
    <p>
    	<input type="text" name="q" id="search-q" size="45" /> 
    	<!-- <input type="submit" name="submit" value="search sounds" onclick="search_sounds" id="search-button"/> -->
    	<a href="#" onclick="search_sounds()">Get!</a>
    </p>
    <p><input type="submit" name="send" value="SEND!" id="send-button" onclick="sendSounds()"/></p>
    <p>
        t
    </p>
</form>

<div id="search-results" class="sound_list_minimal">
    <h3>Search results:</h3>
    
</div>

<div id="picked_sounds" class="sound_list_minimal">
    <h3>War files</h3>
    <div>
        <div>
            <a class="remove" onclick="removeSound(this, {{source.id}})">Remove</a>
        </div>
    </div>
</div>

{% endblock content %}