#maincontainer{
margin: 0 auto; /*Center container on page*/
}

#topsection{
background: #EAEAEA;
height: 90px; /*Height of top section*/
}

#topsection h1{
margin: 0;
padding-top: 15px;
}

#contentwrapper{
float: left;
width: 100%;
}

.battlecolumn {
    float: left;
}

#contentcolumn {
/*margin: 0 190px 0 180px; */
width: 200px;

}

#leftcolumn{
width: 410px; /*Width of left column in pixel*/
}

#rightcolumn{
width: 410px; /*Width of right column*/
}

#footer{
clear: left;
width: 100%;
background: black;
color: #FFF;
text-align: center;
padding: 4px 0;
}

#footer a{
color: #FFFF80;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}


.battle_sound_name {

    }

.battle_sound_img {
    float: left;
    width: 121px;
    }

.battle_tags {
    float: left;
    width: 279px;
    }
