<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
        {% block head %}
            <link href='http://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>
            <link REL="SHORTCUT ICON" HREF="{{STATIC_URL}}favicon.ico">
            <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
            <meta name="FSWars" content="Freesound is your battleground." />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/all.css" />
            <!--[if IE 6]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie6.css" /><![endif]-->
            <title>FSWars - {% block title %}Freesound is your battleground{% endblock %}</title>
            <!--  
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>
            -->
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript"></script>
            <script src="{{ STATIC_URL }}js/fswars.js" type="text/javascript"></script>
            
            <script type="text/javascript" src="jquery.js"></script>
			<script type="text/javascript" src="jquery-jsonp.js"></script>
			<script type="text/javascript" src="http://tabasco.upf.edu/media/js/freesound-javascript/freesoundLib.js"></script>
			<!-- Chrome and Firefox need "hosted" version of freesoundLib.js, Safari also works with local freesoundLib.js -->
			<!-- script type="text/javascript" src="freesoundLib.js"></script -->
			<script type="text/javascript" src="settings.js"></script>
        {% endblock %}
    </head>

    <body>
        {% block body %}
            {% if messages %}
                <div id="messages">
                    <ul id="messages-messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {{ message|safe }}
                            </li>
                        {% endfor %}
                    </ul>
                </div> <!-- /#messages -->
            {% endif %}

            <div id="header">
                {% block header %}
                {% endblock header %}
                <br style="clear: both;" />
            </div> <!-- /#header -->

            <div id="main">

                <div id="content">
                    {% block content %}
                    {% endblock %}
                </div> <!-- /#content -->
            </div> <!-- /#main -->

            <div id="footer">
            </div> <!-- /#footer -->

        {% endblock body %}
    </body>

</html>
