<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
        {% block head %}
            <title>FSWars - {% block title %}Freesound is your battleground!{% endblock %}</title>

            <link href='http://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>
            <link REL="SHORTCUT ICON" HREF="{{STATIC_URL}}favicon.ico">
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/all.css" />
            <!--[if IE 6]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie6.css" /><![endif]-->

            <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
            <meta name="FSWars" content="Freesound is your battleground." />

            <script type="text/javascript" src="{{ STATIC_URL }}js/fswars.js" type="text/javascript"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-jsonp.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/settings.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/freesoundLib.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jplayer.min.js"></script>

            <script type="text/javascript" src="{{ STATIC_URL }}js/json2.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/cometd.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cometd.js"></script>

            <script type="text/javascript">
                var config = {
                    {% if battle %}battleId: '{{ battle.id }}'{% endif %}
                };
                /* N.B. TODO: If the path of the comet deployment
                   changes this has to be changed as well. */
                var cometURL = '{{ COMET_URL }}';
            </script>

            <script type="text/javascript">
            {% block comet_handler %}
                function page_comet_handler(update) {
                    fswars.add_notification(update);
                }
            {% endblock %}
            </script>

            {% if battle %}
            <script type="text/javascript">
                $(document).ready(function() {


                    // prevent enter from sending forms
                    $('input, form').keypress(function(e) {
                        if(e.keyCode === 13) {
                            e.preventDefault();
                            var message = $('#comet_send').val();
                            if (message != '') {
                                send_chat(message);
                                $('#comet_send').val('')
                            }
                            return false;
                        }
                    });

                    send_chat = function(message) {
                        var data = {'command': 'updateChat',
                                    'message': '{{request.user}}: '+message};
                        $.post('{% url wars:browser2browser battle.id %}',
                                {message: JSON.stringify(data)});
                    };

                });
            </script>
            {% endif %}

            <script type="text/javascript" src="{{ STATIC_URL }}js/comet.js"></script>

        {% endblock %}
    </head>

    <body>
        {% block body %}
            {% if messages %}
                <div id="messages">
                    <ul id="messages-messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {{ message|safe }}
                            </li>
                        {% endfor %}
                    </ul>
                </div> <!-- /#messages -->
            {% endif %}

            <div id="header">

                {% block header %}
                <!--  img height="80px" src="{{ STATIC_URL }}images/freesound_logo2.png" -->
                <div class="header_title">
                Battle #{{ battle.id }}: {{ battle.player1 }} VS {{ battle.player2 }} !!!
                </div>

                {% endblock header %}
                <br style="clear: both;" />
            </div> <!-- /#header -->

            <div id="main">

                <div id="content">
                    {% block content %}
                    {% endblock %}
                </div> <!-- /#content -->
            </div> <!-- /#main -->

            <div id="footer">
                <center>
                <em>Hacked at Barcelona Music Hack Day by Vincent Akkermans, Frederic Font, Panos Papiotis and Stelios Togias, June 2011</em>
                </center>
            </div> <!-- /#footer -->

            {% if battle %}
            <div id="comet">
                <div id="comet_status"></div>
                <div id="comet_incoming"></div>
                <form id="comet_send_form" action="{% url wars:browser2browser battle.id %}">
                    <input id="comet_send" type="text">
                </form>
            </div>
            {% endif %}
        {% endblock body %}
    </body>

</html>
